@keyframes inFromBottom {

    0% {
        opacity: 0;
        transform: translateY(10rem);
    }



    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes inFromLeft {

    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes inFromRight {

    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes flash {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes navLinks {
    0% {
        opacity: 0;
        height: 100vh;
        width: 100%;
    }

    100% {
        opacity: 1;
        height: 100vh;
        width: 100%;
    }
}